.card-game {
  display: flex;
  gap: 100px;

  .cards_grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
    .hidden {
      visibility: hidden;
    }

    .singleCard {
      perspective: 1000px;
      position: relative;
      width: 150px;
      height: 200px;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      .hidden {
        visibility: hidden;
      }
      .cardFront,
      .cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.5s;
      }

      .cardFront {
        img {
          width: 100%;
        }
      }

      .cardBack {
        transform: rotateY(180deg);

        span {
          position: absolute;
          top: 40%;
          left: 40%;
          font-size: 32px;
          font-weight: 1000;
          -webkit-text-fill-color: rgba(135, 118, 240, 1);
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
        }
      }

      &.flipped .cardFront {
        transition: all 0.2s ease-in-out;
        transform: rotateY(-180deg);
      }

      &.flipped .cardBack {
        background-color: rgb(204, 241, 255);
        transform: rotateY(0deg);
        border: 4px solid white;
        border-radius: 8px;
      }
      &.flipped .pinkcardback{
        width: 150px;
        background-color: rgba(255, 235, 204, 1);
      }
      
    }
  }
}
.moves{
  position: absolute;
  bottom: 0;
  left: 45%;
  font-size: 22px;
  font-weight: 600;
}
